.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/* Fullscreen background from public folder */
.login-page {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login container styles */
.login-container {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
}

.login-container h1.title {
  margin-bottom: 10px;
  color: #333;
  font-size: 28px;
  font-weight: bold;
}
.login-container h5{
  padding-right: 270px;;
}

.login-container p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}

.login-container input {
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-container button {
  padding: 10px 20px;
  width: 100%;
  background-color: #333;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #555;
}
.login-page{
  background-image: "url('/logo1.png')";
  background-size: "cover";
  background-repeat: "no-repeat";
  background-position: "center";
  width: "100vw";
  height: "100vh";
}
